<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--    Medium style editor-->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
<!--    custom css-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
<!--    google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather+Sans&family=Montserrat:wght@100;400;900&family=Sacramento&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
<!--navbar-->
    <nav class="navbar navbar-default techfont custom-navbar">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand bigbrand" href="{% url 'post_list' %}">My Blog</a> </li>
                <li><a class="" href="{% url 'about' %}">About</a></li>
                <li><a class="" href="https://www.github.com">Github</a> </li>
                <li><a class="" href="https://www.linkedin.com">Linkedin</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a class="" href="{% url 'post_new' %}">Create Post</a></li>
                <li><a class="" href="{% url 'post_draft_list' %}">Drafts</a></li>
                <li class="nav navbar-nav"><form method="post" action="{% url 'logout' %}"> {% csrf_token %} <input type="submit" class="nav navbar-link noborderbtn" value="Logout"></input>
                </form></li>
                <li><a class="" href="">Welcome {{user.username}} </a></li>
                {% else %}
                <li><a class="nav navbar-right" href="{% url 'login' %}">
                    <span class="glyphicon glyphicon-user"></span>
                </a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
<!--content block-->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog_posts">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

</body>
</html>